---
// src/pages/nosotros.astro (o about.astro)
import MainLayout from "@/layouts/MainLayout.astro";
import AboutUs from "@/components/sections/AboutUs.astro";
---

<MainLayout>
  <div class="pt-20">
    <AboutUs />
  </div>
</MainLayout>