---
// src/pages/nosotros.astro (o about.astro)
import MainLayout from "@/layouts/MainLayout.astro";
import ContactSection from "@/components/sections/ContactSection.astro";
---

<MainLayout>
  <div class="pt-20">
    <ContactSection />
  </div>
</MainLayout>