---
import MainLayout from "@/layouts/MainLayout.astro";
import ContactSection from "@/components/sections/ContactSection.astro";
---

<MainLayout
  title="Contacto — Inicia tu Proyecto Arquitectónico con LARQ"
  description="Contáctanos para iniciar tu proyecto de arquitectura en Costa Rica. Llámanos al +506 8897 2353 o escríbenos a larq@gmail.com. Atención de lunes a viernes de 8:00 AM a 5:00 PM."
  image="https://larqcr.com/_astro/about-us.BaJeV0jP.png"
  type="website"
>
  <div class="pt-20">
    <ContactSection />
  </div>
</MainLayout>