---
// src/pages/nosotros.astro (o about.astro)
import MainLayout from "@/layouts/MainLayout.astro";
import Hero from "@/components/sections/Hero.astro";
---

<MainLayout>
  <div class="pt-20">
    <Hero />
  </div>
</MainLayout>