---
// src/pages/nosotros.astro (o about.astro)
import MainLayout from "@/layouts/MainLayout.astro";
import Services from "@/components/sections/Services.astro";
---

<MainLayout>
  <div class="pt-20">
    <Services />
  </div>
</MainLayout>